<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="/static/Styleindes.css">
</head>
<body>

    <div style="display: flex; justify-content: center;">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
            <br>
                <div class="container" style="text-align: center; font-family: Poppins; width: 50%; ">
                    <div class="alert alert-{{category}} " style="border-radius: 20px; padding: 15px 10px; {% if category== "success" %} background-color: rgba(125, 252, 245, 0.644); {% elif category=="danger" %} background-color: rgba(253, 4, 4, 0.404);  {% endif %} color: white; text-shadow: 1px 1px 1px rgb(0, 0, 0);">
                    <p style="color: rgb(0, 0, 0); text-shadow: 1px 1px 1px rgb(245, 241, 241);">{{ message }}</p>
                    </div>
                </div>
               
            {% endfor %}
        {% endif %}
        {% endwith %}
    </div>
 <div><h1 class="regform" style="color: white;">Registration Form</h1></div>
 

 <div class="main">
     <form method = "POST" action = "/getvalue" name ="passdata">
         <div id="name">
             <h2 class="name">Name</h2>
             <input class="firstname" type ="text" name = "firstname"><br>
             <label class = "firstlabel">Enter your first name </label>
             <input class="lastname" type ="text" name = "lastname"><br>
             <label class = "lastlabel">Enter your last name </label>

         </div>

         <h2 class="name">Company</h2>
         <input class="company" type="text" name ="company">

         <h2 class="name">Email</h2>
         <input class="email" type="text" name ="email">

         <h2 class="name">Phone Number</h2>
         <input class="code" type="text" name ="area_code">
         <label class = "area_code">Area Code</label>
         <input class="number" type="text" name ="phone">
         <label class = "phone_number">Phone number</label>


         <h2 class="name">Subject</h2>
         <select class="option" name="user_subject">
             <option disabled="disabled" selected="selected">
                 Choose an option </option>
             <option>Subject 1 </option>
             <option>Subject 2 </option>
             <option>Subject 3 </option>
             <option>Subject 4 </option>

         </select>




         <button type="submit">Register</button>


     </form>

 </div>
</body>
</html>